# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# Note: main.js is included in this commit to provide a working release
# Normally main.js should be uploaded to GitHub releases instead.
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
